<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itboyst.facedemo.mapper.ZgradeMapper">
    <resultMap id="zgrade" type="com.itboyst.facedemo.dto.Zgrade">
        <id column="zid" property="zid" javaType="String"/>
        <result column="zmajorID" property="zmajorID" javaType="String"/>
        <result column="zidentity" property="zidentity" javaType="String"/>
        <result column="zname" property="zname" javaType="String"/>
        <result column="zassistant" property="zassistant" javaType="String"/>

    </resultMap>




    <select id="findallgrade"  resultType="com.itboyst.facedemo.dto.Zgrade">
        SELECT * from zgrade
    </select>

    <select id="findgradebynamelike"  resultType="java.lang.String">
       select zname from zgrade where zname like CONCAT('%',#{zname},'%')
    </select>

    <select id="findgradebymajorid" resultType="com.itboyst.facedemo.dto.Zgrade">
        select * from zgrade where zmajorID=#{id}
    </select>

    <select id="findzidbyzname" resultType="java.lang.String">
        select zid from zgrade where zname=#{zname}
    </select>

    <select id="findallgradebytrainroom" resultType="com.itboyst.facedemo.dto.Zgrade">
        SELECT	* FROM zgrade where zid IN
			(select zgradeID FROM zstudent where zid IN
				(SELECT zstudentID from zstudent_schedule where zscheduleID in
					(select zid from zschedule where  ztrainingroomID=#{ztrainingroomID} and  now() BETWEEN zstartdate and zenddate)) GROUP BY zgradeID)
    </select>

    <select id="findgrade" resultType="com.itboyst.facedemo.dto.Zgrade">
        select * from zgrade where zname not in ('临时班级')
    </select>

    <insert id="addgroup" parameterType="com.itboyst.facedemo.dto.Zgrade" >
        insert into zgrade(zid,zmajorID,zidentity,zname,zassistant)
        values (#{zid},#{zmajorID},'666',#{zname},'默认')
    </insert>

    <delete id="deletgroup" parameterType="java.lang.String">
        delete from zgrade where zid=#{zid}
    </delete>




</mapper>
