<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itboyst.facedemo.mapper.Zteacher_measureMapper">
    <resultMap id="zteacherlogin" type="com.itboyst.facedemo.dto.Zteacher_measure">
        <result column="zid" property="zid" javaType="java.lang.String"/>
        <result column="zname" property="zName" javaType="java.lang.String"/>
        <result column="zidentity" property="zgradeName" javaType="java.lang.String"/>
        <result column="zselfcheck" property="zselfcheck" javaType="java.lang.String"/>
        <result column="zteachercheck" property="zteachercheck" javaType="java.lang.String"/>
    </resultMap>

    <select id="findmeasurebygat"  resultType="com.itboyst.facedemo.dto.Zteacher_measure">
        select E.zid as zid,A.zid as ztaskinputid,E.zname as zname,E.zidentity as zidentity,A.zselfcheck as zselfcheck,

A.zteachercheck as zteachercheck,C.zorder

from ztask_input A , zassign_schedule B, ztraining_task_assess C, ztraining_task D,zstudent E,zschedule F,zstudent_schedule G

where  A.zassignscheduleID=B.zid and A.ztrainingtaskassessID=C.zid

and D.zid=C.ztrainingtaskID   and B.ztrainingtaskID=D.zid

and D.zid=#{ztraining_taskID}  and E.zid=#{zgradeID} and F.zid=#{zscheduleid}

and G.zscheduleID=F.zid and G.zstudentID=E.zid

and B.zstudentscheduleID=G.zid

ORDER BY C.zorder;

    </select>

    <select id="findmeasurebygatgroupid"  resultType="int">
        select max(C.zorder)

from ztask_input A , zassign_schedule B, ztraining_task_assess C, ztraining_task D,zstudent E,zschedule F,zstudent_schedule G

where  A.zassignscheduleID=B.zid and A.ztrainingtaskassessID=C.zid

and D.zid=C.ztrainingtaskID   and B.ztrainingtaskID=D.zid

and D.zid=#{ztraining_taskID}  and E.zid=#{zgradeID} and F.zid=#{zscheduleid}

and G.zscheduleID=F.zid and G.zstudentID=E.zid

and B.zstudentscheduleID=G.zid

ORDER BY C.zorder;

    </select>
</mapper>